* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  /* ESCALA DE CINZA-------------- */
  --darkGray: #1f1f1f;
  --darkGray2: #474747;
  --darkGray3: #666666;
  --ligthGray: #8f8f8f;
  --ligthGray2: #cccccc;
  --ligthGray3: #f5f5f5;
  --White1: #ffffff;

  /* OUTRAS CORES------------------ */
  --Primary: #c92071;
  --Secondary: #b5b6f2;
  --Tertiary: #991956;
  --Error: #ee4266;
  --Success: #52ca76;
  --Warning: #f6aa1c;
  --primaryG: #c92071;
  --primaryGCor2: #edabca;
  --SecondaryG: #b5b6f2;
  --secondaryGCor2: #efefff;
}

body {
  background-color: #f9f8fe;
  overflow-x: hidden;
}
.interface {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 0 4%;
}

/* Menu ------------------ */

.menu-hamburger {
  font-size: 2.1rem;
  cursor: pointer;
  display: none;
}

header {
  width: 100%;
  background-color: var(--White1);
}
.div-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-menu {
  padding: 2rem 0;
  background-color: var(--White1);
}

.div-logo .logo {
  width: 253px;
  height: 44px;
}

.input-menu {
  width: 559px;
  height: 60px;
  border-radius: 8px;
  font-weight: 400;
  background-color: rgba(71, 71, 71, 0.1);
  font-size: 1.1rem;
  padding-left: 1rem;
  opacity: 60%;
  border: none;
}

.container-input {
  position: relative;
}

.lupa {
  position: absolute;
  right: 5%;
  top: 27%;
  cursor: pointer;
  font-size: 1.3rem;
  opacity: 60%;
  color: var(--darkGray3);
}

.box-input-mobile {
  display: none;
}
.cadastrar {
  text-decoration: none;
  color: var(--darkGray2);
  font-size: 1.1rem;
  border-bottom: 1px solid var(--darkGray2);
}

.div-logo a button {
  background-color: var(--Primary);
  color: var(--ligthGray3);
  width: 7.5rem;
  height: 2.5rem;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 700;
}

.buy {
  position: relative;
}

.carrinho {
  cursor: pointer;
}

.quant-car {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--Primary);
  color: var(--White1);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  top: -0.4rem;
  right: -0.5rem;
}

.div-nav nav ul {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  list-style: none;
}

.div-nav nav ul li a {
  text-decoration: none;
  font-weight: 500;
}

.div-nav nav ul li .n-ativa {
  color: var(--darkGray2);
}

.div-nav nav ul li .ativa {
  color: var(--Primary);
  font-weight: 600;
  border-bottom: 2px solid var(--Primary);
}
.box-nav-mobile {
  display: none;
}
h4.titulo-nav-mobile {
  color: var(--darkGray2);
  font-size: 1rem;
  letter-spacing: 0.75px;
  font-weight: 700;
}
.div-nav-mobile {
  position: absolute;
  width: 80%;
  bottom: 0;
  top: 4.5rem;
  left: 0;
  z-index: 3;
  background-color: var(--White1);
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-nav-mobile .menu-mobile-btn a button {
  background-color: var(--Primary);
  color: var(--ligthGray3);
  width: 100%;
  height: 2.5rem;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 700;
}

.div-nav-mobile nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  list-style: none;
}

.div-nav-mobile nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.75px;
}

.div-nav-mobile nav ul li .n-ativa-mobile {
  color: var(--darkGray2);
}

.div-nav-mobile nav ul li .ativa-mobile {
  color: var(--Primary);
  font-weight: 600;
  border-bottom: 2px solid var(--Primary);
}

.div-nav-mobile nav {
  padding: 3rem 0;
  width: 70%;
  margin: 0 auto;
}
.menu-mobile-btn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem 0;
  border-top: 1px solid var(--ligthGray2);
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.menu-mobile-btn a {
  width: 100%;
}

.cadastrar-mobile {
  text-decoration-thickness: 1px;
  text-decoration-color: var(--darkGray2);
  text-underline-offset: 3px;
  color: var(--darkGray2);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.75px;
}

/* Menu Fim---------------- */

/* Interação Carrinho--------------------------------- */
.buy {
  position: relative;
}
.container-inter-carrinho {
  position: absolute;
  width: 19.7rem;
  height: auto;
  background-color: var(--White1);
  right: 10%;
  z-index: 5;
  padding: 1.5rem;
  box-shadow: 0 4px 0.5rem var(--darkGray3);
}
.container-inter-carrinho {
  display: none;
}
.container-inter-carrinho h3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: var(--darkGray2);
}
.txt-item-carrinho h6 {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: var(--darkGray);
  line-height: 1.2rem;
}

.box-precos-carrinho {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.7rem;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
}

.box-precos-carrinho .preco-carrinho {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: var(--darkGray2);
}
.box-precos-carrinho .preco-riscado {
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: var(--ligthGray2);
  text-decoration: line-through;
}

.itens-do-carrinho {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 1.5rem 0;
  padding: 1.5rem 0;
  border-top: 1px solid var(--ligthGray2);
  border-bottom: 1px solid var(--ligthGray2);
  height: auto;
}

.item-car {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.container-valor-total-carrinho {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.box-total-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-total-carrinho .link-esvaziar {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: var(--darkGray2);
  text-underline-offset: 2px;
}
.box-total-carrinho .txt-valor-total {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: var(--darkGray);
}
.box-total-carrinho p {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: var(--Error);
}
.box-total-carrinho .link-btn-carrinho .btn-carrinho {
  background-color: var(--Primary);
  color: var(--ligthGray3);
  width: 8.5rem;
  height: 2.5rem;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.75px;
}

/*////// fim Interação Carrinho--------------------------------- */
body {
  background: #f9f8fc;
  padding: 20px;
  color: #333;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 20px;
  color: #888;
}

.breadcrumb .current {
  font-weight: bold;
}

.product-page {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.product-gallery {
  flex: 1;
}

.main-image {
  background: #e0dfff;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
}

.main-image img {
  width: 300px;
  rotate: 20deg;
}

.thumbnail-list {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: center;
  width: 100%;
}


.thumb {
  width: 75px;
  height: auto;
  border: 2px solid transparent;
  cursor: pointer;
  rotate: 20deg;
}

.thumb-1{
  display: flex;
  width: 90px;
  gap: 10px;
  justify-content: center;
  background-color: #E2E3FF;
  border: solid 1px;
  border-color: #e44b98;
}
.thumb-2{
  display: flex;
  width: 90px;
  gap: 10px;
  justify-content: center;
  background-color: #FFE8BC;
}
.thumb-3{
  display: flex;
  width: 90px;
  gap: 10px;
  justify-content: center;
  background-color: #FFC0BC;
}
.thumb-4{
  display: flex;
  width: 90px;
  gap: 10px;
  justify-content: center;
  background-color: #DEC699;
}
.thumb-5{
  display: flex;
  width: 90px;
  gap: 10px;
  justify-content: center;
  background-color: #E8DFCF;
}

.thumb.selected {
    rotate: 20deg;
}

.product-details {
  flex: 1;
  max-width: 500px;
}

.product-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.info-line {
  color: #888;
  font-size: 14px;
  margin-bottom: 5px;
}

.rating {
  margin: 10px 0;
  font-size: 16px;
  color: #ff9900;
}

.rating .votes {
  color: #888;
  font-size: 14px;
  margin-left: 10px;
}

.price-box {
  margin: 10px 0;
}

.new-price {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.old-price {
  text-decoration: line-through;
  color: #bbb;
  margin-left: 10px;
}

.product-desc {
  font-size: 14px;
  margin: 20px 0;
  color: #666;
}

.tamanhos, .colors {
  margin-bottom: 20px;
}

.size-options button {
  padding: 10px 16px;
  margin-right: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.size-options .selected {
  background: #333;
  color: white;
  border-color: #333;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.color.selected {
  border-color: #333;
  outline: 2px solid #333;
}

.buy-button {
  background: #ffa723;
  border: none;
  padding: 14px 30px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.related {
  margin-top: 40px;
}

.related h2 {
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ver-todos {
  font-size: 14px;
  color: var(--Primary);
  text-decoration: none;
}

.container-produto{
    display: flex;
}

.container-cards-produto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 15PX;
  width: 230px;
}

.img-produto {
  width: 15rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem #e2dede;
  color: #ffffff;
  border-radius: 4px;
  position: relative;
}

.img-produto img {
  margin-right: 2rem;
}

.img-produto p {
  font-size: 0.9rem;
  color: var(--darkGray2);
  font-weight: 700;
  letter-spacing: 0.75px;
  padding: 0.5rem 1.1rem;
  border-radius: 1rem;
  background-color: #e7ff86;
  width: fit-content;
  margin-bottom: 1rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.produto-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.produto-txt h4 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.produto-txt .ver-produtos a,
.produto-txt .ver-produtos i {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.75px;
  cursor: pointer;
  text-decoration: none;
  color: var(--Primary);
}

.ver-produtos {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--Primary);
}

.item-card-produto .nome-produto {
  font-size: 0.5rem;
  letter-spacing: 0.75px;
  font-weight: 700;
  color: var(--ligthGray);
  margin-top: 1rem;
}

.item-card-produto .modelo-produto {
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: var(--darkGray2);
  line-height: 2rem;
}

.div-precos {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.item-card-produto {
  cursor: pointer;
}

.item-card-produto p.preco-novo {
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  font-weight: 700;
  color: var(--darkGray);
}

.item-card-produto p.preco-riscado {
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: var(--ligthGray);
  text-decoration: line-through;
}

/* FOOTER-------------------------------------------------------------------- */
footer {
  background-color: var(--darkGray);
}

.container-geral-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  height: auto;
  color: var(--White1);
  flex-wrap: wrap;
  padding: 2.5rem 0;
}
.logo-lorem-e-redes {
  width: 30%;
  height: 15rem;
  margin-bottom: 2.4rem;
  padding-right: 2.7rem;
}

.logo-lorem-e-redes #lorem {
  margin: 2.1rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.imagens-redes-footer {
  display: flex;
  gap: 1.8rem;
}

.imagens-redes-footer img {
  width: 1.3rem;
  height: 1.4rem;
}

.footer-inf-categ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  height: auto;
}

.footer-informacoes {
  margin-top: 2.4rem;
  height: 19rem;
}
.footer-informacoes h3 {
  margin-bottom: 2rem;
}

.footer-informacoes nav ul {
  list-style: none;
}

.footer-informacoes nav ul a {
  text-decoration: none;
  color: var(--White1);
  line-height: 2.5rem;
}

.footer-categorias {
  height: 16.5rem;
}

.footer-categorias h3 {
  margin-bottom: 2rem;
}

.footer-categorias nav ul {
  list-style: none;
}

.footer-categorias nav ul a {
  text-decoration: none;
  color: var(--White1);
  line-height: 2.5rem;
}

.footer-contatos {
  width: 15%;
  margin-bottom: 4.2rem;
  height: 11.9rem;
}
.footer-endereco-telefone {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
}

.footer-contatos h3 {
  margin-bottom: 2rem;
}

.footer-assinatura p {
  font-size: 0.8rem;
  text-align: center;
  padding: 1.5rem 0;
  color: var(--White1);
  border-top: 1px solid var(--White1);
}
