@media (max-width: 1180px) {
  .div-logo .logo {
    width: 210px;
    height: 35px;
  }
  .input-menu {
    width: 400px;
    height: 40px;
    border-radius: 8px;
  }

  .lupa {
    font-size: 1rem;
  }

  .item-card {
    width: 32%;
    height: auto;
    padding: 1rem 0;
  }
  .box-cards-mais-destaques {
    gap: 3rem;
  }

  .container-txt-oferta .txt-especial-oferta {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .img-tenis-oferta {
    width: 500px;
  }
}

@media (max-width: 1087px) {
  .container-txt h1 {
    width: 33rem;
    font-size: 3.5rem;
    letter-spacing: 4px;
    line-height: 4rem;
  }
  /* Footer----------------- */
  .logo-lorem-e-redes {
    width: 20%;
    padding-right: 0;
  }
}

@media (max-width: 1075px) {
  .cadastrar,
  .div-logo a button {
    display: none;
  }

  .menu-hamburger {
    display: block;
  }

  .div-nav nav {
    display: none;
  }

  .item-card {
    min-width: 350px;
    height: auto;
    padding: 1rem 0;
  }

  .div-logo {
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (max-width: 1030px) {
  .div-logo .logo {
    width: 193px;
    height: 35px;
  }
}

@media (max-width: 1020px) {
  section .div-box-incio {
    flex-direction: column-reverse;
    height: auto;
    gap: 2rem;
    padding: 2rem 0;
  }

  .img-tenis-inicio {
    width: 70%;
    margin: 0 auto;
  }
  .img-secion-one {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-ornamento {
    display: none;
  }

  .container-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .div-box-oferta {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
    gap: 2rem;
  }

  .div-box-oferta .container-txt-oferta {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
  }

  .div-box-oferta .div-imagens {
    position: relative;
  }

  .div-box-oferta .div-imagens .img-eclipse {
    left: 10%;
  }
  .img-tenis-oferta {
    width: 90%;
  }

  .container-geral-footer {
    flex-direction: column;
    gap: 4rem;
  }

  .logo-lorem-e-redes {
    text-align: start;
    width: 70%;
    height: auto;
    margin-bottom: 0rem;
    padding-right: 0rem;
  }

  .footer-inf-categ {
    justify-content: start;
    width: 70%;
  }

  .footer-informacoes {
    margin-top: 0;
    height: 19rem;
  }

  .footer-informacoes nav ul a {
    line-height: 2rem;
  }

  .footer-categorias nav ul a {
    line-height: 2rem;
  }

  .footer-categorias {
    height: 16.5rem;
    margin-bottom: 2rem;
  }

  .footer-inf-categ {
    gap: 5rem;
  }

  .footer-contatos {
    width: 70%;
    margin-bottom: 1rem;
    height: 11.9rem;
  }
}

@media (max-width: 775px) {
  .input-menu {
    display: none;
  }

  .item-card {
    width: 100%;
    height: auto;
  }

  .box-cards-mais-destaques {
    
    flex-wrap: nowrap;
    position: sticky;
    overflow-x: auto;
    
  }
}
